@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

// This file resets all styles

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --color-primary: #24d05f;
  --color-background: #fafafa;
  --color-danger: #f64b53;
  --color-text-dark: #333333;
  --color-text-gray: #bababa;
  --color-disabled: #cccccc;
}

body {
  margin: 0;
}
