@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

// This file resets all styles

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  transition-duration: 0.12s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --color-primary: hsl(141, 70%, 48%);
  --color-primary-darken: hsl(141, 70%, 38%);
  --color-background: hsl(0, 0%, 98%);
  --color-danger: hsl(357, 90%, 63%);
  --color-text-dark: hsl(0, 0%, 20%);
  --color-text-on-primary: hsl(0, 0%, 100%);
  --color-text-gray: hsl(0, 0%, 73%);
  --color-disabled: hsl(0, 0%, 80%);
  --color-white: hsl(0, 0%, 100%);

  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-default: 16px;
  --font-size-lg: 22px;
  --font-size-xg: 32px;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-st: 24px;
  --space-lg: 32px;
  --space-xl: 40px;
  --space-xxl: 48px;
  --space-jumbo: 64px;
}

body {
  color: var(--color-text-dark);
  margin: 0;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

svg {
  fill: var(--color-primary);
}
